@page "/environmentalmanagement"
@attribute [Authorize(Policy = "NotGuest")]
@using WebAPI.Models
@inject HttpClient Http

<PageTitle>Environmental Management</PageTitle>

<h3>Resource Consumption</h3>

@if (waterList == null)
{
    <p>Loading...</p>
}
else
{
    <table class="edata-table">
        <thead>
            <tr>
                <th>Data Indicator</th>
                <th>Unit</th>
                @foreach (var water in waterList)
                {
                    <th>@water.Year.Year</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Water Consumption</td>
                <td>@waterList.FirstOrDefault()?.Unit</td>
                @foreach (var water in waterList)
                {
                    <td>@water.WaterConsumption</td>
                }
            </tr>
            <tr>
                <td>Water Recycled</td>
                <td>@waterList.FirstOrDefault()?.Unit</td>
                @foreach (var water in waterList)
                {
                    <td>@water.WaterRecycled</td>
                }
            </tr>
        </tbody>
    </table>
}

@if (wasteList == null)
{
    <p>Loading...</p>
}
else
{
    <table class="edata-table">
        <thead>
            <tr>
                <th>Data Indicator</th>
                <th>Unit</th>
                @foreach (var waste in wasteList)
                {
                    <th>@waste.Year.Year</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Waste</td>
                <td>@wasteList.FirstOrDefault()?.Unit</td>
                @foreach (var waste in wasteList)
                {
                    <td>@waste.TotalWaste</td>
                }
            </tr>
        </tbody>
    </table>
}

@code {
    private List<Water> waterList = new List<Water>();
    private List<Waste> wasteList = new List<Waste>();

    protected override async Task OnInitializedAsync()
    {
        waterList = await Http.GetFromJsonAsync<List<Water>>("api/water");
        wasteList = await Http.GetFromJsonAsync<List<Waste>>("api/waste");
    }
}

<style>
    .edata-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        font-size: 16px;
        text-align: left;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .edata-table th,
    .edata-table td {
        border: 1px solid #ddd;
        padding: 12px;
    }

    .edata-table th {
        background-color: rgba(65, 75, 86);
        color: white;
        font-weight: bold;
    }

    .edata-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .edata-table tr:hover {
        background-color: #ddd;
    }

    .edata-table td {
        text-align: center;
    }

    .edata-table th:first-child,
    .edata-table td:first-child {
        text-align: left;
    }
</style>
